<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head> 

    <title>Proverbe Traduction</title> 

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<th:block  th:include="/head.html"> </th:block>
	
</head>

<body>
<section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Inscription Utilisateurs</h3>
<!-- BASIC FORM VALIDATION -->
        <div class="row mt">
          <div class="col-lg-12">
            <h4><i class="fa fa-angle-right"></i> Entrer vos informations</h4>
            <div th:if="${param.error}">

<div class="alert alert-danger">

un Problemes est survenue merci de ressayer.

</div>

</div>
            <div class="form-panel">
               <form role="form" th:action="@{/account/register}" th:object="${utilisateurs}" method="post" class="form-horizontal style-form">
                <div class="form-group has-success">
                  <label class="col-lg-2 control-label">Nom</label>
                  <div class="col-lg-10">
 						<input type="text" th:field="*{nom}" id="name" placeholder="Nom" class="form-control" required>
                  </div>
                </div>
                 <div class="form-group has-success">
                  <label class="col-lg-2 control-label">Prenom</label>
                  <div class="col-lg-10">
 						<input type="text" th:field="*{prenom}" id="prenom" placeholder="Prenom" class="form-control" required>
                  </div>
                </div>
                <div class="form-group has-success">
                  <label class="col-lg-2 control-label">Email</label>
                  <div class="col-lg-10">
 						<input type="text" th:field="*{email}" id="email" placeholder="E-mail" class="form-control" required>
                  </div>
                </div>
                <div class="form-group has-success">
                  <label class="col-lg-2 control-label">Password</label>
                  <div class="col-lg-10">
 						<input type="password" th:field="*{password}" id="password" placeholder="Password" class="form-control" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-theme" type="submit">S'inscrire</button>
                   
                  </div>
                </div>
                
                <div class="registration">
            Deja Inscris ?<br/>
             <a href="/login" class="">
              Se Connecter
              </a>
          </div>
              </form>
            </div>
            <!-- /form-panel -->
          </div>
          <!-- /col-lg-12 -->
        </div>
        <!-- /row -->
        <!-- FORM VALIDATION --> 
 </section>
</section>
</body>

<th:block  th:include="/foot.html"> </th:block>
</html>